
.content{
   /* align-items: center;
   font-size: 32px; */

   
}
/* span{
    background-color: blanchedalmond;
} */
.btn{
    display: block;
    margin: 10px auto;
}
#con{
    p{
        background-color: pink;
    }
}
.parent{
    ol{background-color: blue;}

}
/* .parent{
    ul:last-child{
        li:nth-child(3){
            background-color: #93e410;
        }
        
    }
} */
.parent{
    ul:last-child{
        li:nth-child(5){
            background-color: #93e410;
        }
        
    }
}

.flexbox{
    background-color: red;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.child{
background-color: blue;
border:  1px solid brown;
width: 50px;

}