.content{
   /* align-items: center;
   font-size: 32px; */

   
}
/* span{
    background-color: blanchedalmond;
} */
.btn{
    display: block;
    margin: 10px auto;
}
#con{
    p{
        background-color: pink;
    }
}